.App {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageContainer {
  height: 100%;
  background-image: url('woodLightBackground.jpg');
  height: 110vh;
}
.App__Header {
  top: 0;
}
.boxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.mealDetails input {
  padding-left: 5px;
  display: block;
  height: 20px;
  margin: 5px auto;
  border-radius: 3px;
  border: 1px solid black;
}
button {
  height: 20px;
  border-radius: 3px;
  margin: 0 5px;
  border: 1px solid black;
}
main {
  padding: 10px;
  background-color: #f8f8ff;
  border-radius: 3px;
  margin: 0 20px;
}
hr {
  border: 1.5px solid black;
  margin: 5px 0;
}
.mealDetails {
  width: 50vw;
  padding: 5px;
}
.rightContainer {
  width: 50vw;
}
.customerCharges,
.earnings {
  padding: 5px;
  margin: 5px auto;
}

.mealDetails,
.customerCharges,
.earnings {
  border: 2px dotted black;
}

@media only screen and (min-width: 768px) {
  .boxesContainer {
    flex-direction: row;
  }
  .App {
    height: 100vh;
  }
  .App__Header {
    padding: 10px;
  }
  .rightContainer,
  .mealDetails {
    margin: 0 5px;
  }
  .customerCharges,
  .earnings {
    margin: 10px 0;
  }
  main {
    max-width: 1100px;
    margin: auto auto;
  }
}
