@import url('https://fonts.googleapis.com/css?family=Sigmar+One|Slabo+27px&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
hr,
h2 {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: 'Sigmar One', cursive;
}
h2,
li {
  font-family: 'Slabo 27px', serif;
}
